<footer class="py-5 bg-dark">
	<div class="container">
		<p class="text-center" style="font-size: 60px">👨‍💻👨‍⚕️</p>
		<!-- /. welcome emoji -->
		<h4 class="text-center text-white">
			Hi, We are Ali and Urooj.
		</h4>
		<!-- /. my intro -->
		<p class="m-0 text-center text-white">
			We are the Founders of inpsyght.<br>
			👨‍💻 Ali Coded this whole thing, using Django, AWS and Coffee.<br>
			👨‍⚕️ Urooj Is the Psychologist who makes everything run.<br>
			<br>
			Copyright &copy; Ali Khundmiri 2018
		</p>
		<!-- /. my details -->
	</div>
	<!-- /.container -->
</footer>